
<div class="TabFolderRow" ng-controller="AddressCtrl" >
	<div class = "container">
		<div class = "row">
			<div class = "col-md-2">
				<label style="text-align:right;">Invoice Address:</label>
			</div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invadd1}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invadd2}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invadd3}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invadd4}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invadd5}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"><label style="text-align:right;">PostCode:</label></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].invcode}}</>
			</div>
		</div>
		
		<div class = "row">
			<div class = "col-md-2">
				<label style="text-align:right;">Delivery Address:</label>
			</div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].deladd1}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].deladd2}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].deladd3}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].deladd4}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].deladd5}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"><label style="text-align:right;">PostCode:</label></div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].delcode}}</>
			</div>
		</div>

		<div class = "row">
			<div class = "col-md-2"><label style="text-align:right;">Location:</label></div>
			<div class = "col-md-2">
				<type = "text" style="text-align:left;">{{selectedRows[0].locatn}}</>
			</div>
			<div class = "col-md-4">
				<type = "text" style="text-align:left;">{{selectedRows[0].clocationName}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"><label style="text-align:right;">Email Address:</label></div>
			<div class = "col-md-6">
				<type = "text" style="text-align:left;">{{selectedRows[0].email}}</>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-2"><label style="text-align:right;">Fax Number:</label></div>
			<div class = "col-md-6">
				<type = "text" style="text-align:left;">{{selectedRows[0].faxnum}}</>
			</div>
		</div>
		
	</div>
	
</div>