 <div class = "navbar navbar-inverse navbar-static-top">
    <div class = "container">
        <!-- Navigation Bar Title -->
        <!-- <a href = "#" class = "navbar-brand"><img src="Content/Images/people.png" alt="logo">Smart Enquiry</a> -->
		<a href = "#" class = "navbar-brand">
			<img src="Content/Images/people.png">
			Smart Enquiry
		</a>
		
        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>

        <div class = "collapse navbar-collapse navHeaderCollapse">
            <ul class = "nav navbar-nav navbar-right">
                <li class = "active"><a href="#/query">Query</a></li>
				<li ><a href="#/notes">Notes</a></li>
				<li ><a href="#/contacts">Contacts</a></li>
				<li ><a href="#/attachments">Attachments</a></li>
				<li ><a href="#/help">Help</a></li>
            </ul>
        </div>
    </div>
</div>