 <div class="TabStyle" ng-controller="GridCtrl">
	<tabset>
        <tab title="Order" template-url="app/partials/browser.html"></tab>
        <tab title="Header" template-url="app/partials/po/header.html"></tab>
        <tab title="Addresses" template-url="app/partials/po/po-addresses.html"></tab>
		<tab title="Instructions" template-url="app/partials/po/po-instructions.html"></tab>
		<tab title="Analysis" template-url="app/partials/po/po-analysis.html"></tab>
		<tab title="Extras" template-url="app/partials/po/po-extras.html"></tab>
		<tab title="History" template-url="app/partials/po/po-headhistory.html"></tab>
		<tab title="Lines" template-url="app/partials/po/po-lines.html"></tab>
    </tabset>
</div>
